body {
    background-color: #070e11;
}

.cols {
    max-width: 25%;
    height: 120px;
    cursor: move;
}

.cols img {
    width: 100%;
    height: 100%;
}

.cols-drop {
    height: 230px;
    width: 33.3%;
    border: 1px solid #d9d9d9;
    background-color: #eaeaea;
}

.cols-drop img {
    width: 100%;
    height: 100%;
}

.drag-end {
    background-color: #eaeaea;
    border: 1px solid #d9d9d9;
}

.gallery {
    padding-top: 2rem;
}

.hovering {
    background-color: #c7c7c7;
    border: 2px dotted #868686;
    
}

.img-fluid img {
    width: 120px;
    height: 120px;
}

.title-row {
    padding: 2rem;
}

.title {
    text-align: center;
    color: #bab2ab;
}

.second {
    height: 300px;
}

.subtitle {
    text-align: center;
    color: #726c67;
}



